.listCard {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
.listCard > .card-photo {
  flex: 0.3;
  margin: auto;
  cursor: pointer;
}
.listCard > .card-photo > img {
  width: 90%;
  min-width: 300px;
  height: 250px;
  border-radius: 10px;
}
.card-detail {
  display: flex;
  flex-direction: column;
  flex: 0.66;
  flex-wrap: wrap;
  min-width: 300px;
}
.card-detail > .title {
  cursor: pointer;
}
.card-detail > .viewAndTime {
  display: flex;
}
.card-detail > .channelDetail {
  display: flex;
}
h6,
p {
  color: gray;
}
