.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header > .logo {
  flex: 0.19;
}
img {
  width: 200px;
}
.header > .search {
  flex: 0.59;
}
.header > .profile {
  flex: 0.2;
}
