.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header > .logo {
  flex: 0.2;
}
img {
  width: 20vw;
}
.header > .search {
  flex: 0.6;
}
.header > .profile {
  flex: 0.2;
}
